a.btn.btn-default {margin: 5px; border: 1px solid #f0f0f0; width: 100%; text-align: left;}
.margin-bottom-50{margin-bottom: 50px;}
.mb40 {margin-bottom: -40px;}
.color-yellowgreen{color: yellowgreen;}